<div class="modal fade" tabindex="-1" role="dialog" id="board-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sala fechada</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
        </table>
      </div>
      <div class="modal-footer">
        <a href="<%= summary_room_path(room_id)%>" target="_blank" class="pull-left">Ver resumo</a>
        <a href="<%= room_path(room_id, format: "xlsx")%>" target="_blank" class="pull-left" style="margin-left: 10px;">Baixar relatório</a>
        <form action="<%= jira_update_points_room_path(room_id) %>" method="post">
          <button type="submit" class="btn btn-info">Atualizar no JIRA</button>
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
